// default values

$font-family: "Outfit", sans-serif;
$small-weight: 400;
$normal-weight: 700;
$para-size: 15px;
$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: rgb(31, 50, 81);

//designs
* {
  font-family: $font-family;
}
body {
  background: $light-gray;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  height: fit-content;
  width: 280px;
  background: $white;
  padding: 14px;
  border-radius: 18px;
  box-shadow: 0px 10px 8px -1px rgba(31, 50, 81, 0.75);
  -webkit-box-shadow: 0px 10px 8px -1px rgba(31, 50, 81, 0.75);
  -moz-box-shadow: 0px 10px 8px -1px rgba(31, 50, 81, 0.75);
  img {
    display: block;
    width: 100%;
    border-radius: 12px;
  }
}
.texts {
  text-align: center;
  margin: 0px;
  padding: 12px;

  padding-top: 8px;

  h1 {
    font-size: 20px;
    font-weight: $normal-weight;
    color: $dark-blue;
  }

  p {
    font-size: $para-size;
    font-weight: $small-weight;
    color: $grayish-blue;
  }
}

.attribution {
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  a {
    color: hsl(228, 45%, 44%);
  }
}
